<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Emotion Analyzer</h2>
            
        </div>
        <div class="container">
            <h1>Enter Your Text</h1>
            <form id="emotionForm">
                <textarea id="userInput" placeholder="Enter your text here..." required></textarea>
                <button type="submit">Analyze Emotion</button>
            </form>
            <div id="result" class="centered-result"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
